.grid__img--producto {
  display: flex;
  width: 350px;
  height: 250px;
  display: flex;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  justify-content: center; }
  .grid__img--producto:hover {
    opacity: 1;
    transform: scale(1.4);
    z-index: 1; }

.title-product {
  z-index: 9999;
  display: flex;
  justify-content: center; }

#tipo {
  width: fit-content; }

* {
  margin: 0%;
  padding: 0%; }

.que-buscas, .contacto, .donde-reciclo, .main-title, .card-title-sub {
  align-items: center;
  color: #4fa162;
  font-size: 52px;
  font-weight: bold;
  background-color: #191919;
  padding: 50px; }
  .que-buscas:hover, .contacto:hover, .donde-reciclo:hover, .main-title:hover, .card-title-sub:hover {
    background-color: #4fa162;
    color: #191919; }

.card-title-sub {
  font-style: none;
  background: none;
  padding: 0px; }

.parrafo {
  padding: 20px 20px 20px 20px;
  border: black 2px solid;
  background-color: #191919;
  color: white;
  text-transform: uppercase;
  line-height: 0,5px; }

.btn {
  background-color: #4fa162;
  color: white;
  font-size: 18px;
  border-color: #4fa162; }
  .btn:hover {
    background-color: #EDB51F;
    border-color: #EDB51F; }

.logo {
  margin-right: 200px; }

.mb-3 {
  padding: 10px 50px 10px 50px; }

#button {
  margin-left: 50px;
  margin-bottom: 20px; }

.form-check-input {
  margin-left: 70px; }

.donde-reciclo, .main-title {
  display: flex;
  justify-content: center; }
