* {
    @extend *;
}
.mb-3 {
    padding: 10px 50px 10px 50px;
}

#button {
    margin-left: 50px;
    margin-bottom: 20px;
}

.form-check-input {
    margin-left: 70px;
}

.contacto    {
    @extend .main-title;
    }
    