* {
    @extend *;
}
    .grid__img--producto{
        display: flex;
        width: auto;
        border: none;
        opacity: 0.6;
        transition: 0.3s;
        position: relative;
        z-index: 2;
        justify-content: center;
        &:hover {
            opacity: 1;
            transform: scale(1.4);
            z-index: 1;
        }
    } 

    .title-product {
        z-index: 9999;
        display: flex;
        justify-content: center;
    }

#tipo{
    width: fit-content;
}

.que-buscas {
    @extend .main-title;
    }