// Variables 
$colorprimary: hsl(134, 34%, 47%);
$colorsecondary: hsl(306, 68%, 43%);
$fontbase: 18px;
* {
    margin: 0%;
    padding: 0%;
} 

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorprimary;
    font-size: 52px;
    font-weight: bold;
}

.parrafo {
    padding: 20px 20px 20px 20px;
}

.donde-reciclo {
    display: flex;
    justify-content: center;
}

@mixin boton-style {
    background-color: $colorprimary;
    font-size: $fontbase;
    border-color: $colorprimary;
    &:hover {
    background-color: $colorsecondary;
    border-color: $colorsecondary;
    }
}

.btn {
    @include boton-style;
}