// Variables ---------------------------------------------------------------------------------------------------
$colorprimary: #4fa162;
$colorsecondary: #b823a9;
$colorthird: #EDB51F;
$colorfourth: #191919;
$fontbase: 18px;
// -------------------------------------------------------------------------------------------------------------
* {
    margin: 0%;
    padding: 0%;
} 
// Extend ------------------------------------------------------------------------------------------------------
.main-title {
    @extend .donde-reciclo;
    align-items: center;
    color: $colorprimary;
    font-size: 52px;
    font-weight: bold;
    background-color: $colorfourth;
    padding: 50px;
    &:hover {
        background-color: $colorthird;
        color: #191919;
        }
}
// -------------------------------------------------------------------------------------------------------------
.card-title {
    font-style: none;
    background: none;
    padding: 0px;
}

.parrafo {
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    background-color: $colorfourth; 
    color: white;
    text-transform: uppercase;
    line-height: 0,5px;
}

// Mixin --------------------------------------------------------------------------------------------------------
@mixin boton-style {
    background-color: $colorprimary;
    color: white;
    font-size: $fontbase;
    border-color: $colorprimary;
    &:hover {
    background-color: $colorsecondary;
    border-color: $colorsecondary;
    }
}

.btn {
    @include boton-style;
}
// --------------------------------------------------------------------------------------------------------------
