// Variables -----------------------------------------------------------------------------------------------
$colorprimary: hsl(134, 34%, 47%);
$colorsecondary: hsl(306, 68%, 43%);
$colorthird: #EDB51F;
$colorfourth: rgb(25, 25, 25);
$fontbase: 18px;
// ---------------------------------------------------------------------------------------------------------
* {
    margin: 0%;
    padding: 0%;
} 

.main-title {
    @extend .donde-reciclo;
    align-items: center;
    color: $colorprimary;
    font-size: 52px;
    font-weight: bold;
}

.parrafo {
    padding: 20px 20px 20px 20px;
    background-color: $colorfourth; 
    border-radius: 15px;
    padding: 40px;
    color: white;
    text-transform: uppercase;
    line-height: 0,5px;
}

// Mixin --------------------------------------------------------------------------------------------------------
@mixin boton-style {
    background-color: $colorprimary;
    font-size: $fontbase;
    border-color: $colorprimary;
    &:hover {
    background-color: $colorsecondary;
    border-color: $colorsecondary;
    }
}

.btn {
    @include boton-style;
}
// --------------------------------------------------------------------------------------------------------------
