$colorprimary: hsl(134, 50%, 66%);
$colorsecondary: hsl(306, 68%, 43%);
$fontbase: 18px;
$fontlarge: $fontbase + 10px;

$pallete: (
    'primary': black,
    'secondary': white,
    'succes': green,
    'danger': red,
)
