$colorprimary: hsl(134, 50%, 66%);
$colorsecondary: hsl(306, 68%, 43%);
$colorthird: #EDB51F;
$colorfourth: rgb(25, 25, 25);
$fontbase: 18px;
$fontlarge: $fontbase + 10px;

$pallete: (
    h1: 50px,
    'secondary': white,
    'succes': green,
    'danger': red,
)
